@font-face {
    font-family: nazanin;
    src: url("fonts-b-yekan/IRNazanin.ttf")
}

@font-face {
    font-family: nazaninBold;
    src: url("fonts-b-yekan/IRNazaninBold.ttf")
}
@font-face {
    font-family: homa;
    src: url("fonts-b-yekan/IRHoma.ttf");
}